{% extends "layout.html" %}
{% set members = site.query('/time', alt=this.alt).all() %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <h2 class="text-center">{{ this.title }}</h2>
    {{ this.body }}

    <h2 class="text-center">Time</h2>
    <div class="team-container">
        {% for member in members %}
            {%- set complete_name = member.name + " " + member.last_name -%}
            <div class="bio">
                <img title="" class="img-responsive" src="/time/{{ member._id }}/{{ member.image }}" alt="">
                <p class="text-center small">{{ member.job }}</p>
                <a href="{{ member.site }}" target="_blank"><p class="text-center medium">{{ complete_name }}</p></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

