@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html{
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

html a{
    color: #8844ee;
    text-decoration: none;
}

.grid-container{
    display: grid;
    /* grid-template-columns: auto; */
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 80px auto auto;
    align-items: start;
    padding: 0;
    column-gap: 0px;
}

/****** menu ******/
menu {
    /* padding-left: -20px; */
    padding: 0;
    grid-column: span 12;
}

menu h1{
    text-align: center;
}

.navbar{
  overflow: hidden;
  background: #000;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-size: 14px;
}

.navbar ul{
    margin:0;
    padding: 0;
    /* margin:0 25%; */
    display: grid;
    grid-template-columns: repeat(4, 80px);
    justify-content: center;
    
}

.navbar li a{
    color: #fff;
    text-decoration: none;
}

.navbar li{
    display: block;
    text-align: center;
    float: right;
    padding: 14px 0;
}

/****** header ******/
header {
    padding: 0;
    grid-column: span 12;
}


/****** body ******/
body {
    margin:0;    
}

body .page{
    grid-column-start: 3;
    grid-column-end: 11;
    display: block;
    text-align: justify;  
}

body .logo{
    max-width:300px;
}


body img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/****** footer ******/
footer{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    grid-column-start: 3;
    grid-column-end: 11;
}

.copyright{
    text-align: center;
    font-size:10px ;
}

.redes_sociais{
    margin: 20px 0;
}

.redes_sociais img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    text-align:center;
}

/* sobre page*/
.team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bio {
    /* display: flex;
    /* flex-direction: column; */
    justify-content: space-between; 
    margin: 20px;
}

.bio img {
    border-radius: 999px;
    border: #000 3px solid;
    max-width: 120px;
}

.bio h6 {
    text-align: center;
    margin-top: 0 !important;
}

.img-responsive{
    display: block;
    max-width: 120px;
    height: auto;
    margin-bottom: 15px;
}
.bio p {
    margin: 5px 0 0 0;
}
.text-center {
    text-align: center;
}
p.small{
    font-weight: bold;
    font-size: 14px;

}
p.medium{
    font-size: 14px;
}